<app-head></app-head>
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <!-- <img class="app-sidebar__user-avatar imglogo" src="https://banner2.cleanpng.com/20180406/zze/kisspng-online-shopping-shopping-cart-software-e-commerce-sold-out-5ac7156df3a187.9574992715229965899979.jpg" alt="User Image"> -->
        <div>
          <p class="app-sidebar__user-name">Omnia</p>
          <p class="app-sidebar__user-designation">Dukan Admins</p>
        </div>
      </div>
      <ul class="app-menu">
          <!-- CHECK THE HREF HERE -->
        <li><a class="app-menu__item" routerLink="/dashboard" ><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li><a class="app-menu__item" routerLink="/customer" ><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Admin</span></a></li>
        <li><a class="app-menu__item" routerLink="/user" ><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Customer</span></a></li>
        <li><a class="app-menu__item" routerLink="/product" ><i class="app-menu__icon  fa fa-edit"></i><span class="app-menu__label">Product</span></a></li>
        <li><a class="app-menu__item" routerLink="/order" ><i class="app-menu__icon  fa fa-edit"></i><span class="app-menu__label">Order</span></a></li>
        <!-- <li><a class="app-menu__item" routerLink="/invoice" ><i class="app-menu__icon fa fa-file-text-o"></i><span class="app-menu__label">Invoice</span></a></li> -->

      </ul>
    </aside>