<div>
    <div>
      <div class="chart">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-info" style="margin: 4px;" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
    <!-- <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
    <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
    <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button> -->
    <button type="button" class="btn btn-outline-info"  style="margin: 4px;" (click)="changeLegendPosition()">Change Legend Position</button>
  </div>
